        @page {
            size: A4;
            margin: 5mm 2mm 5mm 5mm;
            size: landscape;
        }
        
        @media print {
            .root {
                font-size: 10px;
                line-height: 1rem;
            }
            .text-h1 {
                font-size: 16px;
                line-height: 2rem;
            }
            .text-h3 {
                font-size: 11px;
                line-height: 2rem;
            }
            .img-logo {
                width: 100%;
                margin: 1rem 0;
                padding: 0 0.1rem;
            }
            .left-show {
                display: inline-block;
                position: absolute;
                max-width: 49%;
                width: 49%;
                flex: 0 0 49%;
                top: 0;
                left: 0%;
                padding: 0;
            }
            .right-show {
                display: inline-block;
                position: absolute;
                max-width: 49%;
                width: 49%;
                flex: 0 0 49%;
                top: 0;
                left: 50%;
                padding: 0;
            }
            .box-border-black {
                border-bottom: 1px dotted #000;
            }
            .row.margin-box {
                width: 150mm;
            }
            input,
            .form-group.row {
                margin: 0.15rem 0 0 0;
                padding: 0;
            }
            .form-group.row.s2 {
                margin: 0.58rem 0 0.58rem 0;
                padding: 0;
            }
            button {
                display: none;
            }
            .page-4-to-2 {
                max-width: 16.667%;
                flex: 0 0 16.667%;
            }
            .page-3-to-6,
            .page-4-to-6 {
                max-width: 50%;
                flex: 0 0 50%;
            }
            .page-4-to-3,
            .page-6-to-3 {
                max-width: 25%;
                flex: 0 0 25%;
            }
            .page-6-to-4,
            .page-3-to-4 {
                max-width: 33.333%;
                flex: 0 0 33.333%;
            }
            .page-6-to-5,
            .page-4-to-5,
            .page-3-to-5 {
                max-width: 41.667%;
                flex: 0 0 41.667%;
            }
            .page-print {
                margin-left: -7mm;
            }
            .no-padding {
                padding: 0;
            }
            .text-check-box {
                display: inline-block;
                margin-top: -4px;
                margin-left: 2px;
                position: absolute;
            }
            .text-check-box-at {
                display: inline-block;
                margin-top: -4px;
                margin-left: 2px;
                padding-left: 2.5mm;
                position: absolute;
            }
            .border-box-print-left,
            .border-box-print-center {
                margin-right: 0.5rem;
            }
            .border-box-print-center {
                max-width: 63%;
            }
            .border-box-print-right {
                margin-right: 0;
                max-width: 20mm;
            }
            .box-null {
                height: 6rem;
            }
            .col-margin-tab {
                margin-left: 1.5rem;
            }
            .print-none {
                display: none;
            }
        }